[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
dash = "*"
django-plotly-dash = "*"
channels = "*"
daphne = "*"
redis = "*"
django-redis = "*"
channels-redis = "*"
dash-renderer = "*"
dash-bootstrap-components = "*"
django-bootstrap4 = "*"
dpd-static-support = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
