{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> {% block title %} Dashboard {% endblock title %} </title>
   
   <!-- Latest compiled and minified CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

   <!-- Latest compiled JavaScript -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  <style>
    input[type=radio]{
      transform:scale(2);
      margin-right: 20px;
    }
  </style>
   
   

</head>
<body>

   <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top px-5">
         <div class="container-fluid">
            <a class="navbar-brand mb-0 h1 fs-2 fw-bolder" href="{% url 'home' %}">CORONADASH</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse position-absolute top-50 start-50 translate-middle" id="navbarSupportedContent">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item px-3">
                   <a class="nav-link fs-5" href={% url 'detect' %}>DETECT</a>
                 </li>
                 <li class="nav-item dropdown px-3">
                  <a class="nav-link dropdown-toggle fs-5" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    DASHBOARD
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'tests' %}">Tests</a></li>
                    <li><a class="dropdown-item" href="{% url 'confirmed-cases' %}">Confirmed Cases</a></li>
                    <li><a class="dropdown-item" href="{% url 'deaths' %}">Deaths</a></li>
                    <li><a class="dropdown-item" href="{% url 'hospitalizations' %}">Hospitalizations</a></li>
                    <li><a class="dropdown-item" href="{% url 'vaccinations' %}">Vaccinations</a></li>
                    <li><a class="dropdown-item" href="{% url 'vaccinated-people' %}">Vaccinated People</a></li>
                  </ul>
                </li>
                 <li class="nav-item px-3">
                   <a class="nav-link fs-5" href={% url 'reports' %}>REPORTS</a>
                 </li>
                 <li>
                    {% if request.user.is_staff %}
                    <a class="nav-link fs-5" href={% url 'reports-all' %}>ADMIN</a>
                    {% endif %}
                 </li>
               </ul>
             </div>
              
            {% if user.is_authenticated %}
              <a class="btn btn-outline-light" href="{% url 'logout' %}" role="button" style=" --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;"> LOGOUT </a>
            {% else %}
              <a class="btn btn-outline-light" href="{% url 'login' %}" role="button" style=" --bs-btn-padding-x: 1rem; --bs-btn-font-size: 1rem;"> LOGIN </a>
            {% endif %}
         </div>
      </nav>
   </header>

   <div class="mx-5 px-5">

        {% block content %} {% endblock content %}
   </div>

</body>
</html>