{% extends '_base.html' %}
{% load plotly_dash %}
{% load static %}

{% block content %} 
  <div>
    <h1 class="display-2 my-5 py-4">Confirmed Deaths Statistics of Covid-19</h1>
  </div>

  <div class = {% plotly_class name='Deaths' %}>
    {%plotly_app name='Deaths' ratio=1.5%}
  </div>
  
  <div class = {% plotly_class name='DailyDeaths' %} >
    {% plotly_app name='DailyDeaths' ratio=0.5 %}
  </div>
 
  <div class = {% plotly_class name='DailyDeathsPerMillion' %}>
    {% plotly_app name='DailyDeathsPerMillion' ratio=0.5 %}
  </div>

  <div class = {% plotly_class name='TotalDeaths' %}>
    {% plotly_app name='TotalDeaths' ratio=0.5 %}
  </div>

  <div class = {% plotly_class name='TotalDeathsPerMillion' %}>
    {% plotly_app name='TotalDeathsPerMillion' ratio=0.5 %}
  </div>
  
{% endblock content %}