{% extends '_base.html' %}
{% load plotly_dash %}

{% block content %}

    <div class="my-5 py-5 d-flex justify-content-center align-items-center" >

        <div class="card text-dark bg-light mb-3 mx-5 text-center border-warning" style="width: 30rem;">
            <div class="card-body" style="background:#FFBB33;">
                <h1 class="display-2 card-title">{{ cases }}</h1>
            </div>
            <div class="card-footer bg-dark text-warning fs-3">CASES CONFIRMED</div>
        </div>

        <div class="card text-dark bg-light mb-3 mx-5 text-center border-warning" style="width: 30rem;">
            <div class="card-body" style="background:#FFBB33;">
                <h1 class="display-2 card-title">{{ deaths }}</h1>
            </div>
            <div class="card-footer bg-dark text-warning fs-3">DEATHS REPORTED</div>
        </div>

        <div class="card text-dark bg-light mb-3 mx-5 text-center border-warning" style="width: 30rem;">
            <div class="card-body" style="background:#FFBB33;">
                <h1 class="display-2 card-title">{{ vaccinations }}</h1>
            </div>
            <div class="card-footer bg-dark text-warning fs-3">PEOPLE VACCINATED</div>
        </div>
    </div>

    <div class="mb-5 pb-4">
        <div class="card border-light" style="background:#fff023;">
            <h1 class="display-5 px-0 text-start"> Explore all of the data on COVID-19 vaccinations, cases, deaths and much more in comprehensive and interactive dashboards.</h1>
        </div>
    </div>

    <div class="mb-3 d-flex justify-content-center align-items-center" >

        <div class="card text-dark bg-light mb-3 mx-5 text-center border-warning" style="width: 30rem;">
            <div class="card-body" style="background:#FFBB33;" >
                <h1 class="display-2 card-title">
                    <a class="text-decoration-none text-dark" href="{% url 'tests' %}">TESTS</a>
                </h1>
            </div>
            <div class="card-footer bg-dark text-start text-warning fs-5">Explore the dashboard of tests performed for the detection of COVID-19 in table, map and chart view</div>
        </div>

        <div class="card text-dark bg-light mb-3 mx-5 text-center border-warning" style="width: 30rem;">
            <div class="card-body" style="background:#FFBB33;">
                <h1 class="display-2 card-title">
                    <a class="text-decoration-none text-dark" href="{% url 'confirmed-cases' %}">CASES</a>
                </h1>
            </div>
            <div class="card-footer bg-dark text-start text-warning fs-5">Examine the dashboard that shows the recorded instances of COVID-19 in table, map and chart view</div>
        </div>

        <div class="card text-dark bg-light mb-3 mx-5 text-center border-warning" style="width: 30rem;">
            <div class="card-body" style="background:#FFBB33;">
                <h1 class="display-2 card-title">
                    <a class="text-decoration-none text-dark" href="{% url 'deaths' %}">DEATHS</a>
                </h1>
            </div>
            <div class="card-footer bg-dark text-start text-warning fs-5">Take a look at the COVID-19 reported deaths dashboard to investigate the data in table, map and chart view</div>
        </div>
    </div>

    <div class="mb-5 pb-5 d-flex justify-content-center align-items-center" >

        <div class="card text-dark bg-light mb-3 mx-5 text-center border-warning" style="width: 30rem;">
            <div class="card-body" style="background:#FFBB33;">
                <h1 class="display-2 card-title">
                    <a class="text-decoration-none text-dark" href="{% url 'hospitalizations' %}">HOSPITALS AND ICUS</a>
                </h1>
            </div>
            <div class="card-footer bg-dark text-start text-warning fs-5">Examine the data presented in tables, maps, and charts by reviewing the dashboard for COVID-19 hospital and ICU admissions</div>
        </div>

        <div class="card text-dark bg-light mb-3 mx-5 text-center border-warning" style="width: 30rem;">
            <div class="card-body" style="background:#FFBB33;">
                <h1 class="display-2 card-title">
                    <a class="text-decoration-none text-dark" href="{% url 'vaccinations' %}">VACCINATION DOSES</a>
                </h1>
            </div>
            <div class="card-footer bg-dark text-start text-warning fs-5">View the dashboard displaying COVID-19 vaccination doses in different formats as tables, maps, and charts</div>
        </div>

        <div class="card text-dark bg-light mb-3 mx-5 text-center border-warning" style="width: 30rem;">
            <div class="card-body" style="background:#FFBB33;">
                <h1 class="display-2 card-title">
                    <a class="text-decoration-none text-dark" href="{% url 'vaccinated-people' %}">VACCINATED PEOPLE</a>
                </h1>
            </div>
            <div class="card-footer bg-dark text-start text-warning fs-5">Check out the dashboard for individuals received the COVID-19 vaccine to analyze the information presented in the table, map, and chart formats</div>
        </div>
    </div>

    <div class="mb-5 pb-4">
        <div class="card border-light" style="background:#fff023;">
            <h1 class="display-5 text-start">Take a look at daily confirmed case, death and vaccine statistics of COVID-19</h1>
        </div>
    </div>

    <div class = {% plotly_class name='Home' %}>
        {% plotly_app name='Home' ratio=0.5 %}
    </div>

{% endblock content %}