<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if download_success %}
        <h1>Downloaded Successfully</h1>
    {% else %}
        <h1>Downloading Failed</h1>
        {% endif %}
        
        {% if dataset_instances %}
        <h1>Dataset Instances Created Successfully</h1>
        {% else %}
        <h1>Dataset Instances Creation Failed</h1>
    {% endif %}
</body>
</html>